<template>
  <div class="wrapper container mx-auto d-flex justify-content-center flex-column">
    <h1 class="mx-auto text-center">{{ textOnLabel }}</h1>
    <form action="">
      <textarea v-model="inputedText" class="input d-block w-100" rows="10" cols="50"
                placeholder="Enter text"></textarea>
      <div class="row justify-content-between">
        <button type="button" @keydown.enter="validateInput()" @click="validateInput()"
                class="btn btn-secondary col-xl-3 col-12">{{ textOnButton }}
        </button>
        <button type="button" @click="clear" class="btn btn-secondary col-xl-3 col-12 ">Clear</button>
      </div>
    </form>
    <textarea v-if="showResponse" readonly v-model="decrypted" class="input d-block w-100" rows="10" cols="50"
              placeholder="Decrypted text"></textarea>
  </div>
  <hr class="bg-dark w-100">
  <p class="mx-auto text-center">Created by <a href="https://t.me/hrytsev">Hrytsev Ivan</a>, student of CE-212. All
    rights reserved.</p>
</template>

<script>
import '../node_modules/bootstrap/dist/css/bootstrap.css'

export default {
  name: 'App',
  data() {
    return {
      showResponse: false,
      inputedText: '',
      decrypted: '',
      textOnButton: 'Try to decrypt',
      textOnLabel: `Enter text to use feistel network`,
      key: '',
      rounds: 2
    }
  },
  methods: {
    validateInput() {
      if (this.inputedText === '') {
        alert("Enter text")
        return;
      }
      const key = prompt("Enter your key");
      if (key === null || key === "") {
        alert("Key is not valid");
        return;
      } else {
        this.key = key;
      }

      this.crypt();
    },
    crypt() {
      let textBin = this.toAsciied(this.inputedText);
      let newText;
      let keyBin = this.toAsciied(this.key);
      let rounds = this.rounds;

      for (let i = 0; i < rounds; i++) {
        let midIndex = Math.floor(textBin.length / 2);
        let part1 = textBin.slice(0, midIndex);
        let part2 = textBin.slice(midIndex);
        part2 = this.XOR(part2, this.XOR(part1, keyBin));
        textBin = part2.trim() + part1.trim();
        keyBin = this.shiftOutLeftKey(keyBin);
      }

      newText = this.toDec(textBin);
      this.showResponse = true;
      this.decrypted = newText;
    }
    ,
    toAsciied(decText) {
      let asciiBinaryText = "";
      for (let char of decText) {
        let asciiValue = char.charCodeAt(0);
        asciiBinaryText += asciiValue.toString(2).padStart(8, '0');
      }
      return asciiBinaryText;
    },
    toDec(binaryText) {
      let letters = "";
      for (let i = 0; i < binaryText.length; i += 8) {
        let byte = binaryText.slice(i, i + 8);
        letters += String.fromCharCode(parseInt(byte, 2));
      }
      return letters;
    },  XOR(num1, num2) {
  const length = Math.max(num1.length, num2.length);
  num1 = num1.padStart(length, '0');
  num2 = num2.padStart(length, '0');

  return Array.from(num1).map((digit1, index) => digit1 === num2[index] ? '0' : '1').join('');
}
,
    shiftOutLeftKey(key) {
      return key.slice(1) + key[0];
    },
    clear(){
      this.inputedText=""
      this.showResponse=false;
    }
  }
}
</script>

<style>
.wrapper {
  height: 90vh;
}

textarea {
  margin-bottom: 8px;
  min-height: 50px;
}

button {
  margin-bottom: 5px;
}
</style>
